{% extends 'ApplicationWebBundle::layout.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}
{% block page_header %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="container min-hight portfolio-page margin-bottom-30">
        <!-- BEGIN PORTFOLIO ITEM -->
        <div class="row margin-bottom-20">
            <!-- BEGIN CAROUSEL -->
            {% if (product.image|length > 1) %}
            <div class="col-md-5">
                {% set src = vich_uploader_asset(product.image.get(0), 'file') %}
                <img src="{{src|imagine_filter('product_card_image')}}" alt="{{ product.image.get(0).description }}" />
            </div>
            {% endif %}
            <!-- END CAROUSEL -->

            <!-- BEGIN PORTFOLIO DESCRIPTION -->
            <div class="col-md-7">
                <h2>{{ product.name }}</h2>
                <ul class="blog-info">
                    <li><i class="fa fa-tags"></i> {{product.brand.name}}</li>
                </ul>
                <p>{{ product.shortDescription }}</p>
                <br/>
                <a href="#" class="btn theme-btn"> {{'product.page.buy'|trans}}</a>
            </div>
            <!-- END PORTFOLIO DESCRIPTION -->
        </div>
        <!-- END PORTFOLIO ITEM -->
        <div class="clearfix"></div>

        <div class="tab-style-1 margin-bottom-20">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#description" data-toggle="tab">{{'product.page.tabs.description'}}</a></li>
                <li class=""><a href="#image" data-toggle="tab">{{'product.page.tabs.image'}}</a></li>
                <li class=""><a href="#video" data-toggle="tab">{{'product.page.tabs.video'}}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane row fade active in" id="description">
                    <div class="typography">
                    {% autoescape %}
                        {{ product.fullDescription|raw }}
                    {% endautoescape %}
                    </div>
                </div>
                <div class="tab-pane row fade" id="image">
                    <div class="container min-hight portfolio-page margin-bottom-40">
                        <div class="filter-v1">
                            <div class="row mix-grid thumbnails">
                                {% for image in product.image %}
                                    <div class="col-md-3 col-sm-4 gallery-item ">
                                        <a data-id="{{image.id}}" data-rel="fancybox-button" title="{{image.description}}" href="{{vich_uploader_asset(image, 'file')|imagine_filter('gallery_image_full')}}" class="fancybox-button">
                                            <img alt="{{image.description}}" src="{{vich_uploader_asset(image, 'file')|imagine_filter('gallery_image_preview')}}" class="img-responsive">
                                            <div class="zoomix"><i class="fa fa-search"></i></div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane row fade" id="video">
                </div>
            </div>
        </div>
        <!-- END RECENT WORKS -->
    </div>
    <!-- END CONTAINER -->
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="/bundles/applicationweb/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link href="/bundles/applicationweb/css/pages/gallery.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bundles/applicationweb/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
{% endblock %}