<div class="tab-pane active" id="main">
    <h3 class="form-section">{{'page.user.fieldset_main'|trans}}</h3>
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    <h3 class="form-section">{{'page.user.fieldset_password'|trans}}</h3>
    {{ form_row(form.user_password) }}
</div>
