<div class="tab-pane active" id="main">
    {{ form_row(form.is_active) }}
    {{ form_row(form.name) }}
    {{ form_row(form.place) }}
    {{ form_row(form.url) }}
    {{ form_row(form.priority) }}
    <hr/>
    {{ form_row(form.startDate) }}
    {{ form_row(form.stopDate) }}
    <hr/>
    {{ form_row(form.file) }}
    <hr/>
    {{ form_row(form.code, {"attr":{"rows":5}}) }}
</div>
