{% extends 'ApplicationAdminBundle::layout.html.twig' %}

{% block title %}{{(configuration.pageTitle~'.'~page)|trans}}{% endblock %}
{% block page_header %}{{(configuration.pageTitle~'.'~page)|trans}}{% endblock %}

{% block page_controll %}
    <a href="{{backUrl}}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> {% trans %}button.back{% endtrans %}</a>
    <button class="btn btn-success" data-loading-text="{% trans %}button.saving{% endtrans %}" onclick="return FormHelper.submit($('#update-form'), {cmd : 'save'});"><span class="glyphicon glyphicon-saved"></span> {% trans %}button.save{% endtrans %}</button>
    <button class="btn btn-success" data-loading-text="{% trans %}button.saving{% endtrans %}" onclick="return FormHelper.submit($('#update-form'), {cmd : 'apply'});"><span class="glyphicon glyphicon-chevron-down"></span> {% trans %}button.apply{% endtrans %}</button>
{% endblock %}

{% block body %}
    <form id="update-form" class="form-horizontal form-bordered form-row-stripped" action="{{saveUrl}}" {{ form_enctype(form) }} novalidate method="POST">
        {% include 'ApplicationNewsBundle:Admin/News:_form.html.twig' %}
    </form>
{% endblock %}

{# javascript #}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function(){
            $('textarea.tinymce').tinymce({
                theme : "modern",
                height : 200,
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste moxiemanager"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
            });



        });
    </script>
{% endblock %}