<div class="filters">
    <span class="filters_title">Выбрано товаров <em id="count_items">{{filter.selectedCount}}</em> из {{filter.totalCount}}</span>
    <a href="{{filter.url}}" class="filters_clear">Сбросить фильтры</a>

    <div id="side_filters">
        <div id="content_filter">
            {% for property in filter.properties %}
                {% if property.choices|length %}
                <div class="filter">
                    <span class="filter_name">{{property.property.label}}:</span>

                    <div id="filt_1">
                        {% for choice in property.choices %}
                            {% if choice.active %}
                            <a rel="nofollow" href="{{filter.createUrl(property, choice)}}" class="filter_value {{choice.selected ? 'brandHi': 'brandLo'}}">{{choice.propertyChoice.value|raw}} <span style="color:#aeafb1; font-weight: normal;">({{choice.count}})</span></a>
                            {% else %}
                                <a rel="nofollow" href="javascript:void(0)" class="filter_value brandSt">{{choice.propertyChoice.value|raw}} <span style="color:#aeafb1; font-weight: normal;"></span></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>