{% extends 'ApplicationWebBundle::layout.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}
{% block page_header %}{{ category.name }}{% endblock %}

{% block body %}
    <!-- BEGIN CONTAINER -->
    <div class="container min-hight">
        <!-- BEGIN BLOG -->
        <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
                    {% for sybcategory in categories %}
                    {% set url = path('category_' ~ sybcategory.id) %}
                    <div class="row">
                        {% set src = sybcategory.image ? vich_uploader_asset(sybcategory, 'file') : '' %}
                        {% if (src == '') %}
                            {% set src = vich_uploader_asset(sybcategory.products.get(0).image.get(0), 'file') %}
                        {% endif %}
                        <div class="col-md-4 col-sm-4">
                            <img src="{{src|imagine_filter('category_list_image')}}" alt="{{ sybcategory.name }}" />
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <h2><a href="{{url}}">{{sybcategory.name}}</a></h2>
                            <p>{{ sybcategory.description }}</p>
                            <a class="more" href="{{url}}">{{'page.category.readmore'|trans}} <i class="icon-angle-right"></i></a>
                        </div>
                    </div>
                    <hr class="blog-post-sep">
                {% endfor %}
            </div>
            <!-- END LEFT SIDEBAR -->

            <!-- BEGIN RIGHT SIDEBAR -->
            <div class="col-md-3 col-sm-3 blog-sidebar">
                <!-- BEGIN RECENT NEWS -->
                {{ render(controller('ApplicationNewsBundle:Component:index')) }}
                <!-- END RECENT NEWS -->

                <!-- BEGIN BLOG PHOTOS STREAM -->
                {{ render(controller('ApplicationGalleryBundle:Component:index')) }}
                <!-- END BLOG PHOTOS STREAM -->

                {{2|banner_place}}
            </div>
            <!-- END RIGHT SIDEBAR -->
        </div>
        <!-- END BEGIN BLOG -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}
