{% extends 'ApplicationWebBundle::layout.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}
{% block page_header %}{{ category.name }}{% endblock %}

{% block body %}
    <!-- BEGIN CONTAINER -->
    <div class="container min-hight">
        <!-- BEGIN BLOG -->
        <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
                {% for sybcategory in categories %}
                    {% set url = path('category_' ~ sybcategory.id) %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            {% if (sybcategory.image|length > 0) %}
                                <img src="{{vich_uploader_asset(sybcategory, 'file')|imagine_filter('category_list_image')}}" alt="{{ sybcategory.name }}" />
                            {% endif %}
                            <div class="caption">
                                <h3><a href="{{url}}">{{sybcategory.name}}</a></h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- END LEFT SIDEBAR -->

            <!-- BEGIN RIGHT SIDEBAR -->
            <div class="col-md-3 col-sm-3 blog-sidebar">
                <!-- BEGIN RECENT NEWS -->
                {{ render(controller('ApplicationNewsBundle:Component:index')) }}
                <!-- END RECENT NEWS -->

                <!-- BEGIN BLOG PHOTOS STREAM -->
                {{ render(controller('ApplicationGalleryBundle:Component:index')) }}
                <!-- END BLOG PHOTOS STREAM -->
            </div>
            <!-- END RIGHT SIDEBAR -->
        </div>
        <!-- END BEGIN BLOG -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}