{% extends 'ApplicationWebBundle::layout.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}
{% block page_header %}{{ category.name }}{% endblock %}

{% block body %}
    <!-- BEGIN CONTAINER -->
    <div class="container min-hight">
        <!-- BEGIN BLOG -->
        <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-9 col-sm-9 blog-posts margin-bottom-40">
                {% for product in products %}
                    {% set url = path('category_products_' ~ product.category.id, {'product':product.slug}) %}
                    <div class="row">
                        {% if (product.image|length > 0 ) %}
                            {% set src = vich_uploader_asset(product.image.get(0), 'file') %}
                            <div class="col-md-4 col-sm-4">
                                <img src="{{src|imagine_filter('product_list_image')}}" alt="{{ product.name }}" />
                            </div>
                        {% endif %}
                        <div class="col-md-8 col-sm-8">
                            <h2><a href="{{url}}">{{product.name}}</a></h2>
                            {% if product.brand %}
                            <ul class="blog-info">
                                <li><i class="fa fa-tags"></i> {{product.brand.name}}</li>
                            </ul>
                            {% endif %}
                            <p>{{ product.shortDescription }}</p>
                            <a class="more" href="{{url}}">{{'page.catalog.readmore'|trans}} <i class="icon-angle-right"></i></a>
                        </div>
                    </div>
                    <hr class="blog-post-sep">
                {% endfor %}

                <div class="text-center">
                    {% autoescape %}
                    {{paginator|raw}}
                    {% endautoescape %}
                </div>
            </div>
            <!-- END LEFT SIDEBAR -->

            <!-- BEGIN RIGHT SIDEBAR -->
            <div class="col-md-3 col-sm-3 blog-sidebar">
                <!-- CATEGORIES START -->
                <h2>{{'page.catalog.categories'|trans}}</h2>
                <ul class="nav sidebar-categories margin-bottom-40">
                    {% for subcategory in categories %}
                    <li {% if subcategory.id == category.id  %}class="active"{% endif %}><a href="{{path('category_'~subcategory.id)}}">{{subcategory.name}}</a></li>
                    {% endfor %}
                </ul>
                <!-- CATEGORIES END -->

                <!-- BEGIN RECENT NEWS -->
                {{ render(controller('ApplicationNewsBundle:Component:index')) }}
                <!-- END RECENT NEWS -->

                <!-- BEGIN BLOG PHOTOS STREAM -->
                {{ render(controller('ApplicationGalleryBundle:Component:index')) }}
                <!-- END BLOG PHOTOS STREAM -->

                {{2|banner_place}}
            </div>
            <!-- END RIGHT SIDEBAR -->
        </div>
        <!-- END BEGIN BLOG -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}