<div class="tab-pane active" id="main">
    {{ form_row(form.active) }}
    {{ form_row(form.title) }}
    {{ form_row(form.section) }}
    <hr/>
    {{ form_row(form.startDate) }}
    {{ form_row(form.stopDate) }}
    <hr/>
    {{ form_row(form.file) }}
</div>