<!-- BEGIN HEADER -->
<div class="header navbar navbar-default navbar-fixed-top">
    <!-- BEGIN TOP BAR -->
    <div class="front-topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <ul class="list-unstyle inline">
                        <li><i class="fa fa-phone topbar-info-icon top-2"></i>Тел: <span>(044) 332-8-334, (050) 441-04-474</span></li>
                        <li class="sep"><span>|</span></li>
                        <li><i class="fa fa-envelope-o topbar-info-icon top-2"></i>Email: <span>info@welding.com.ua</span></li>
                    </ul>
                </div>
                {#<div class="col-md-3 col-sm-3 login-reg-links">#}
                    {#<ul class="list-unstyled inline">#}
                        {#<li><a href="page_login.html">Login</a></li>#}
                        {#<li class="sep"><span>|</span></li>#}
                        {#<li><a href="page_signup.html">Signup</a></li>#}
                    {#</ul>#}
                {#</div>#}
            </div>
        </div>
    </div>
    <!-- END TOP BAR -->
    <div class="container">
        <div class="navbar-header">
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <button class="navbar-toggle btn navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN LOGO (you can use logo image instead of text)-->
            <a class="navbar-brand logo-v1" href="{{path('web_home')}}">
                <img src="/bundles/applicationweb/img/logo_blue.png" id="logoimg" alt="">
            </a>
            <!-- END LOGO -->
        </div>

        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="dropdown-toggle" href="{{path('web_home')}}">{{'menu.home'|trans}}</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">
                        {{'menu.catalog'|trans}}
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        {%  for category in tree.data %}
                        <li><a href="{{path('category_'~category.data.id)}}">{{category.data.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{{path('web_gallery')}}">{{'menu.gallery'|trans}}</a></li>
                <li><a href="{{path('web_partners')}}">{{'menu.partners'|trans}}</a></li>
                <li><a href="{{path('web_service')}}">{{'menu.service'|trans}}</a></li>
                <li><a href="{{path('web_contact')}}">{{'menu.contact'|trans}}</a></li>
                <li class="menu-search">
                    <span class="sep"></span>
                    <i class="fa fa-search search-btn"></i>

                    <div class="search-box">
                        <form action="#">
                            <div class="input-group input-large">
                                <input class="form-control" type="text" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn theme-btn">Go</button>
                                    </span>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <!-- BEGIN TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER -->