{% extends 'ApplicationWebBundle::main.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block page_header %}My cool blog posts{% endblock %}

{% block body %}
    <div class="bgSfuma_in" style="overflow: hidden; height:400px; position:relative;">
        <!-- start SHOWREEL -->
        <div class="fadeShowreel bg_scuro shadow">
            {{place(1)}}
            {% for image in images %}
                {% set src = vich_uploader_asset(image, 'file') %}
                <div style="z-index: {{loop.index+1}}; opacity: {{loop.index==0?'1':'0'}};" class="item">
                    <img style="width: 101%; margin-top: -650px; display: inline-block;" alt="{{image.name}}" src="{{src|imagine_filter('gallery_image_main')}}">
                </div>
            {% endfor %}
        </div>
        <!-- end SHOWREEL -->
    </div>
{% endblock %}
