<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Metronic Frontend | Home with Top Bar</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css' />

    {% block stylesheets %}
        {% stylesheets output='assets/css/frontend.css' filter='cssrewrite'
        'bundles/applicationweb/plugins/font-awesome/css/font-awesome.min.css'
        'bundles/applicationweb/plugins/bootstrap/css/bootstrap.min.css'
        'bundles/applicationweb/css/style-metronic.css'
        'bundles/applicationweb/css/style.css'
        'bundles/applicationweb/css/themes/orange.css'
        'bundles/applicationweb/css/style-responsive.css'
        'bundles/applicationweb/css/custom.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />


        <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
        <link href="/bundles/applicationweb/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
        <link rel="stylesheet" href="/bundles/applicationweb/plugins/revolution_slider/css/rs-style.css" media="screen">
        <link rel="stylesheet" href="/bundles/applicationweb/plugins/revolution_slider/rs-plugin/css/settings.css" media="screen">
        <link href="/bundles/applicationweb/plugins/bxslider/jquery.bxslider.css" rel="stylesheet" />
        <!-- END PAGE LEVEL PLUGIN STYLES -->

        <style>

        .fadeShowreel {
            width: 2000px;
            height: 415px;
            overflow: hidden;
            margin: 0 auto;
            position: relative;
            -webkit-font-smoothing: subpixel-antialiased;
            -webkit-backface-visibility: hidden;
            visibility: visible;
            left: 50%;
            margin-left: -1000px;
            z-index: 0;
            top: 0px;
        }
        .fadeShowreel>.item {
            overflow: hidden;
            position: absolute;
            width: 2000px;
            height: 415px;
            list-style: none;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
        }
        </style>

        {% endstylesheets %}
    {% endblock %}

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="page-header-fixed">
    {{ render(controller('ApplicationWebBundle:Default:header')) }}

    <!-- BEGIN PAGE CONTAINER -->
    <div class="page-container">
        {% block body %}{% endblock %}

    <!-- BEGIN CONTAINER -->
    <div class="container">
    <!-- BEGIN SERVICE BOX -->
    <div class="row service-box">
        <div class="col-md-4 col-sm-4">
            <p align="center">
                <a href=""><img src="/bundles/applicationweb/img/partners/ritmo.jpg" /></a>
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <p align="center">
                <a href=""><img src="/bundles/applicationweb/img/partners/mempex.jpg" /></a>
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <p align="center">
                <a href=""><img src="/bundles/applicationweb/img/partners/csp_baner.jpg" /></a>
            </p>
        </div>
    </div>
    <!-- END SERVICE BOX -->

    <!-- BEGIN BLOCKQUOTE BLOCK -->
    <div class="row quote-v1">
        <div class="col-md-9 quote-v1-inner">
            <span>Metronic - The Most Complete & Popular Admin & Frontend Theme</span>
        </div>
        <div class="col-md-3 quote-v1-inner text-right">
            <a class="btn-transparent" href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank"><i class="fa fa-rocket margin-right-10"></i>Preview Admin</a>
            <!--<a class="btn-transparent" href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469"><i class="icon-gift margin-right-10"></i>Purchase 2 in 1</a>-->
        </div>
    </div>
    <!-- END BLOCKQUOTE BLOCK -->

    <div class="clearfix"></div>

    <!-- BEGIN RECENT WORKS -->
    {{ render(controller('ApplicationWebBundle:Default:products')) }}
    <!-- END RECENT WORKS -->

    <div class="clearfix"></div>

    <!-- BEGIN CLIENTS -->
    {{ render(controller('ApplicationWebBundle:Default:clients')) }}
    <!-- END CLIENTS -->
    </div>
    <!-- END CONTAINER -->
    </div>
    <!-- END PAGE CONTAINER -->

    {{ render(controller('ApplicationWebBundle:Default:footer')) }}

    <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS(REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="/bundles/applicationweb/plugins/respond.min.js"></script>
    <![endif]-->
    <script src="/bundles/applicationweb/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/bundles/applicationweb/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <script src="/bundles/applicationweb/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/bundles/applicationweb/plugins/hover-dropdown.js"></script>
    <script type="text/javascript" src="/bundles/applicationweb/plugins/back-to-top.js"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS(REQUIRED ONLY FOR CURRENT PAGE) -->
    <script type="text/javascript" src="/bundles/applicationweb/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/bundles/applicationweb/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/bundles/applicationweb/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/bundles/applicationweb/plugins/bxslider/jquery.bxslider.min.js"></script>

    <script type="text/javascript" src="/bundles/applicationweb/scripts/jquery.image.js"></script>

    <script src="/bundles/applicationweb/scripts/app.js"></script>
    <script src="/bundles/applicationweb/scripts/index.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            App.initBxSlider();
        });

        $(window).load(function () {
            $('.fadeShowreel').fadeShowreel({
                arrayImg: [
                    [{
                        'width': '100%',
                        'margin-top': '-20px'
                    }, {
                        'width': '100%',
                        'margin-top': '-800px'
                    }],
                    [{
                        'width': '100%',
                        'margin-top': '-300px',
                        'margin-left': '-100px'
                    }, {
                        'margin-top': '-1000px',
                        'margin-left': '100px'
                    }],
                    [{
                        'width': '100%',
                        'margin-top': '-200px',
                        'margin-left': '0px'
                    }, {
                        'width': '125%',
                        'margin-top': '-1000px',
                        'margin-left': '-500px'
                    }],
                    [{
                        'width': '100%',
                        'margin-top': '-1000px'
                    }, {
                        'width': '100%',
                        'margin-top': '-1200px'
                    }],
                    [{
                        'width': '100%',
                        'margin-top': '-200px',
                        'margin-left': '-300px'
                    }, {
                        'width': '110%',
                        'margin-top': '-300px',
                        'margin-left': '-100px'
                    }],
                    [{
                        'width': '100%',
                        'margin-top': '-300px',
                        'margin-left': '-300px'
                    }, {
                        'width': '110%',
                        'margin-top': '-200px',
                        'margin-left': '-100px'
                    }],
                    [{
                        'width': '100%',
                        'margin-top': '-400px'
                    }, {
                        'width': '100%',
                        'margin-top': '-900px'
                    }],
                    [{
                        'width': '100%',
                        'margin-top': '-1400px'
                    }, {
                        'width': '110%',
                        'margin-top': '-590px',
                        'margin-right': '-100px'
                    }]
                ],
                spImg: 16000,
                spFade: 1500,
                durata: 10000,
                txtAlign: 'right',
                fixedTxt_x: 980,
                mask: false
            });
        });
    </script>
    <!-- END BODY -->
</body>
</html>




{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
    {#<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>#}
    {#<meta http-equiv="X-UA-Compatible" content="chrome=1"/>#}
    {#<meta name="application-name" content="Lenovo"/>#}
    {#<meta name="application-url" content="http://shop.lenovo.ua"/>#}

    {#<title>Официальный интернет-магазин lenovo </title>#}
    {#<meta name="title" content="Официальный интернет-магазин lenovo ">#}
    {#<meta name="description" content="Официальный интернет-магазин lenovo ">#}
    {#<meta name="keywords" content="lenovo купить, lenovo, интернет-магазин lenovo">#}

    {#{% block stylesheets %}#}
        {#{% stylesheets output='/bundles/applicationweb/css/frontend.css' filter='cssrewrite'#}
        {#'bundles/applicationweb/css/*' %}#}
        {#<link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>#}
        {#{% endstylesheets %}#}
    {#{% endblock %}#}
{#</head>#}
{#<body>#}
{#<div id="wrapper">#}
    {#{{ render(controller('ApplicationWebBundle:Default:header')) }}#}

    {#<div class="container main-menu_context">#}
        {#<ul class="catalog_menu">#}
            {#<li><a class=" catalog_submenu" href="/notebooks">Ноутбуки</a>#}
                {#<ul>#}
                    {#<li><a href="/notebooks/p3543v6705">IdeaPad</a></li>#}
                    {#<li><a href="/notebooks/p3543v6706">ThinkPad</a></li>#}
                {#</ul>#}
            {#</li>#}
            {#<li><a class=" catalog_submenu" href="/tablet">Планшеты</a>#}
                {#<ul>#}
                    {#<li><a href="/tablet/p3544v6708">IdeaPad Tablet</a></li>#}
                    {#<li><a href="/tablet/p3544v6707">ThinkPad Tablet</a></li>#}
                {#</ul>#}
            {#</li>#}
            {#<li><a href="/smartphone">Смартфоны</a></li>#}
            {#<li><a class=" catalog_submenu" href="/computers">Компьютеры</a>#}
                {#<ul>#}
                    {#<li><a href="/computers/p3546v6711">IdeaCentre</a></li>#}
                    {#<li><a href="/computers/p3546v6712">ThinkCentre</a></li>#}
                {#</ul>#}
            {#</li>#}
            {#<li><a class=" catalog_submenu" href="/monoblocks">Моноблоки</a>#}
                {#<ul>#}
                    {#<li><a href="/monoblocks/p3545v6709">IdeaCentre</a></li>#}
                    {#<li><a href="/monoblocks/p3545v6710">ThinkCentre</a></li>#}
                {#</ul>#}
            {#</li>#}
            {#<li><a href="/monitors">Мониторы</a></li>#}
            {#<li><a class=" catalog_submenu" href="/acessories">Аксессуары</a>#}
                {#<ul>#}
                    {#<li><a href="/acessories/bags">Сумки</a></li>#}
                    {#<li><a href="/acessories/keyboards-mouses">Клавиатуры и мышки</a></li>#}
                    {#<li><a href="/acessories/headset">Гарнитуры</a></li>#}
                    {#<li><a href="/acessories/docking-stations">Докстанции</a></li>#}
                    {#<li><a href="/acessories/battery">Аккумуляторы и блоки питания</a></li>#}
                {#</ul>#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}

    {#<div class="container" id="main-page">#}
        {#<div id="main-content">#}
            {#{% block body %}{% endblock %}#}
            {#<div class="clr"></div>#}
        {#</div>#}
    {#</div>#}

    {#{{ render(controller('ApplicationWebBundle:Default:footer')) }}#}
{#</div>#}

{#&#123;&#35; javascripts... &#35;&#125;#}
{#{% block javascripts %}#}
    {#{% javascripts output='/bundles/applicationweb/js/forntend.js'#}
    {#'http://codeorigin.jquery.com/jquery-1.10.2.min.js'#}
    {#'http://codeorigin.jquery.com/ui/1.9.2/jquery-ui.min.js'#}
    {#'@ApplicationCoreBundle/Resources/public/js/*'#}
    {#'@ApplicationWebBundle/Resources/public/js/*'#}
    {#'@ApplicationOrderBundle/Resources/public/js/order.js'#}
    {#%}#}
    {#<script type="text/javascript" src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    {#<script type="text/javascript">#}
        {#order.cart.queryUrl = "{{ path('orderbundle_cart_view') }}";#}
    {#</script>#}
{#{% endblock %}#}

{#</body>#}
{#</html>#}