{% extends 'ApplicationWebBundle::layout.html.twig' %}

{% block title %}{{ item.title }}{% endblock %}
{% block page_header %}{{ item.title }}{% endblock %}

{% block body %}
    <!-- BEGIN CONTAINER -->
    <div class="container min-hight">
        <!-- BEGIN BLOG -->
        <div class="row">
            <div class="col-md-9 blog-item margin-bottom-40">
                {% if (item.webPath) %}
                    <div class="blog-item-img">
                        <div class="active item">
                            <img src="{{item.webPath|imagine_filter('news_image_full')}}" alt="{{ item.title }}">
                        </div>
                    </div>
                {% endif %}

                <h2><a href="#">{{item.title}}</a></h2>
                <ul class="blog-info">
                    <li><i class="fa fa-calendar"></i> {{item.startDate|date("d.m.Y")}}</li>
                </ul>
                {% autoescape %}
                <p>{{item.fullText|raw}}</p>
                {% endautoescape %}
            </div>
            <!-- END LEFT SIDEBAR -->

            <!-- BEGIN RIGHT SIDEBAR -->
            <div class="col-md-3 col-sm-3 blog-sidebar">
                <!-- BEGIN RECENT NEWS -->
                {{ render(controller('ApplicationNewsBundle:Component:index')) }}
                <!-- END RECENT NEWS -->

                <!-- BEGIN BLOG PHOTOS STREAM -->
                {{ render(controller('ApplicationGalleryBundle:Component:index')) }}
                <!-- END BLOG PHOTOS STREAM -->
            </div>
            <!-- END RIGHT SIDEBAR -->
        </div>
        <!-- END BEGIN BLOG -->
    </div>
    <!-- END CONTAINER -->
{% endblock %}