<div class="tab-pane active" id="main">
    {{ form_row(form.prototype) }}
    <hr/>
    {{ form_row(form.is_active) }}
    {{ form_row(form.name) }}
    {{ form_row(form.model) }}
    {{ form_row(form.slug) }}
    <hr/>
    {{ form_row(form.category) }}
    {{ form_row(form.brand) }}
</div>
