<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">{{ 'page.product.tabs.main'|trans }}</a></li>
    <li><a href="#describtion" data-toggle="tab">{{ 'page.product.tabs.describtion'|trans }}</a></li>
    <li><a href="#values" data-toggle="tab">{{ 'page.product.tabs.values'|trans }}</a></li>
    <li><a href="#images" data-toggle="tab">{{ 'page.product.tabs.images'|trans }}</a></li>
    <li><a href="#meta" data-toggle="tab">{{ 'page.product.tabs.meta'|trans }}</a></li>
</ul>
