<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Test Application{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css' />

    {% block stylesheets %}
        {% stylesheets output='assets/css/backend.css' filter='cssrewrite'
        'bundles/applicationadmin/plugins/font-awesome/css/font-awesome.min.css'
        'bundles/applicationadmin/plugins/bootstrap/css/bootstrap.min.css'
        'bundles/applicationadmin/plugins/uniform/css/uniform.default.css'

        'bundles/applicationadmin/css/style-metronic.css'
        'bundles/applicationadmin/css/style.css'
        'bundles/applicationadmin/css/style-responsive.css'
        'bundles/applicationadmin/css/plugins.css'
        'bundles/applicationadmin/css/themes/default.css'
        'bundles/applicationadmin/css/custom.css'

        'bundles/applicationadmin/plugins/fancybox/source/jquery.fancybox.css'

        '@widget_css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

        {% endstylesheets %}
    {% endblock %}

    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
    <!-- BEGIN HEADER -->
    {{ render(controller('ApplicationAdminBundle:Default:header')) }}
    <!-- END HEADER -->

    <div class="clearfix"></div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        {{ render(controller('ApplicationAdminBundle:Default:menu')) }}
        <!-- END SIDEBAR -->

        <!-- BEGIN PAGE -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-title">
                        {% block page_header %}Page header{% endblock %}
                    </h3>
                    {{ wo_render_breadcrumbs({ viewTemplate: "ApplicationAdminBundle::breadcrumbs.html.twig" }) }}
                </div>
            </div>
            <!-- END PAGE HEADER-->

            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable tabbable-custom tabbable-full-width">
                        <div class="page-toolbar">
                            <div class="pull-right">
                                {% block page_controll %}{% endblock %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->

    <!-- BEGIN FOOTER -->
    {{ render(controller('ApplicationAdminBundle:Default:footer')) }}
    <!-- END FOOTER -->

    <!-- Load javascripts at bottom, this will reduce page load time -->
    {% block javascripts %}
        <!--[if lt IE 9]>
        <script src="/bundles/applicationadmin/plugins/respond.min.js"></script>
        <script src="/bundles/applicationadmin/plugins/excanvas.min.js"></script>
        <![endif]-->
        {% javascripts output='assets/js/backend.js'
        'bundles/applicationweb/plugins/jquery-1.10.2.min.js'
        'bundles/applicationweb/plugins/jquery-migrate-1.2.1.min.js'
        'bundles/applicationadmin/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
        'bundles/applicationadmin/plugins/bootstrap/js/bootstrap.min.js'
        'bundles/applicationadmin/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js'
        'bundles/applicationadmin/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
        'bundles/applicationadmin/plugins/jquery.blockui.min.js'
        'bundles/applicationadmin/plugins/jquery.cookie.min.js'
        'bundles/applicationadmin/plugins/uniform/jquery.uniform.min.js'
        'bundles/applicationadmin/scripts/app.js'

        'bundles/applicationadmin/plugins/fancybox/source/jquery.fancybox.pack.js'
        '@widget_js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript" src="/public/js/tinymce/jquery.tinymce.min.js"></script>
        <script type="text/javascript" src="/public/js/tinymce/tinymce.min.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function() {
                App.init();
            });
        </script>
    {% endblock %}
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>